# CUPS Report Analisis Function

In [10]:
import pandas as pd
import numpy as np
list = range(100)
np.mean(list)

np.float64(49.5)

In [23]:
df = pd.read_excel('/home/raul/CAREER/DATA_SCIENCE/proyectos/CUPX/cups-examples/InformeCUPS_AMOROS.xlsx', sheet_name=1)
df.drop('Tipo lectura', axis=1, inplace=True)
df

,Fecha lectura anterior,Fecha lectura,Consumo P1,Consumo P2,Consumo P3,Consumo P4,Consumo P5,Consumo P6
0,30/11/2020,01/12/2020,0,1122,771,0,0,1455
1,01/12/2020,01/01/2021,33773,23115,0,0,0,50226
2,01/01/2021,01/02/2021,36772,24989,0,0,0,44394
3,01/02/2021,01/03/2021,32760,22241,0,0,0,40610
4,01/03/2021,01/04/2021,0,33989,23429,0,0,50449
5,01/04/2021,01/05/2021,0,0,0,36068,25461,49314
6,01/05/2021,31/05/2021,0,0,0,33233,24018,47816
7,31/05/2021,30/06/2021,0,0,30461,22779,0,37340
8,30/06/2021,31/07/2021,32269,23738,0,0,0,44815
9,31/07/2021,31/08/2021,0,0,37129,26828,0,52685
10,31/08/2021,30/09/2021,0,0,35372,25857,0,46259
11,30/09/2021,31/10/2021,0,0,0,30612,21991,49535
12,31/10/2021,30/11/2021,0,32300,23964,0,0,44519
13,30/11/2021,31/12/2021,28853,21607,0,0,0,42533
14,31/12/2021,31/01/2022,24877,18033,0,0,0,36318
15,31/01/2022,28/02/2022,20839,16340,0,0,0,36256
16,28/02/2022,31/03/2022,0,20761,16724,0,0,36366
17,31/03/2022,19/04/2022,0,0,0,9808,8474,25383
18,19/04/2022,31/05/2022,0,0,0,30145,24665,57017
19,31/05/2022,30/06/2022,0,0,25012,20004,0,39627
20,30/06/2022,31/07/2022,26683,21282,0,0,0,50475
21,31/07/2022,31/08/2022,0,0,29959,23892,0,52512
22,31/08/2022,30/09/2022,0,0,29700,22748,0,42040
23,30/09/2022,31/10/2022,0,0,0,23409,19428,47404
24,31/10/2022,30/11/2022,0,22741,18654,0,0,41692
25,30/11/2022,31/12/2022,19056,15024,0,0,0,41783
26,31/12/2022,31/01/2023,19854,16474,0,0,0,40946
27,31/01/2023,28/02/2023,17370,14142,0,0,0,32092
28,28/02/2023,31/03/2023,0,20346,16878,0,0,37208
29,31/03/2023,30/04/2023,0,0,0,17294,14822,41433
30,30/04/2023,31/05/2023,0,0,0,33223,25931,45671
31,31/05/2023,30/06/2023,0,0,36431,26486,0,44903
32,30/06/2023,31/07/2023,33959,25215,0,0,0,54519
33,31/07/2023,31/08/2023,0,0,35212,25947,0,52793
34,31/08/2023,30/09/2023,0,0,35715,24140,0,45347
35,30/09/2023,31/10/2023,0,0,0,39203,28208,48596

In [25]:
df.columns

Index(['Fecha lectura anterior', 'Fecha lectura', 'Consumo P1', 'Consumo P2',
       'Consumo P3', 'Consumo P4', 'Consumo P5', 'Consumo P6'],
      dtype='object')

In [48]:
class CupsARP:

    def __init__(self, path):
        self.path = path
        self.page_list = []

        self.df_cups_list = pd.read_excel(path, sheet_name=0)
        self.df_activa = pd.read_excel(path, sheet_name=1).drop('Tipo lectura', axis=1)
        self.df_maxim = pd.read_excel(path, sheet_name=2)
        self.df_react = pd.read_excel(path, sheet_name=3)

        self.page_list.extend([self.df_cups_list, self.df_activa, self.df_maxim, self.df_react])

    
    def load_page(self, param):
        return self.page_list[param]


    def ly_consum(self):
        self.consums = {}
        
        self.tot_cons = self.df_activa[['Fecha lectura','Consumo P1', 'Consumo P2',
       'Consumo P3', 'Consumo P4', 'Consumo P5', 'Consumo P6']].sum().sum()
        self.consums['TOTAL'] = self.tot_cons

        for i in range(1,7):
             name = f'P{i}'
             
             cons = self.df_activa.loc[:,f'Consumo P{i}'].sum()
             self.consums[name] = cons

        return self.consums
    
    def year_table(self):
        # Crear una tabla pivotada con los meses y periodos P1 a P6
        tabla = self.df_activa[['Fecha lectura', 'Consumo P1', 'Consumo P2',
                                'Consumo P3', 'Consumo P4', 'Consumo P5', 'Consumo P6']].copy()

        # Convertir las fechas a meses (ej. Enero, Febrero, ...)
        tabla['Mes'] = pd.to_datetime(self.df_activa['Fecha lectura'], format="%d/%m/%Y").dt.strftime('%B').str.upper()

        # Agrupar los datos por 'Mes' y sumar los consumos para cada mes y cada periodo
        tabla_agrupada = tabla.groupby('Mes').sum()

        # Calcular el total por cada mes
        tabla_agrupada['Total mes'] = tabla_agrupada.sum(axis=1)

        # Calcular el total por cada periodo (columna)
        total_periodos = tabla_agrupada[['Consumo P1', 'Consumo P2', 'Consumo P3',
                                         'Consumo P4', 'Consumo P5', 'Consumo P6']].sum()

        # AÃ±adir una fila de total de periodos al final de la tabla
        tabla_agrupada.loc['Total periodo'] = total_periodos
        tabla_agrupada.loc['Total periodo', 'Total mes'] = total_periodos.sum()

        return tabla_agrupada

In [49]:
cups = CupsARP('/home/raul/CAREER/DATA_SCIENCE/proyectos/CUPX/cups-examples/InformeCUPS_AMOROS.xlsx')
print(cups.consum())

{'TOTAL': np.int64(3312940), 'P1': np.int64(327065), 'P2': np.int64(373459), 'P3': np.int64(395411), 'P4': np.int64(471676), 'P5': np.int64(192998), 'P6': np.int64(1552331)}

In [50]:
activa = cups.load_page(1)

In [53]:
tabla =activa[['Fecha lectura', 'Consumo P1', 'Consumo P2',
                                'Consumo P3', 'Consumo P4', 'Consumo P5', 'Consumo P6']].copy()
tabla

,Fecha lectura,Consumo P1,Consumo P2,Consumo P3,Consumo P4,Consumo P5,Consumo P6
0,01/12/2020,0,1122,771,0,0,1455
1,01/01/2021,33773,23115,0,0,0,50226
2,01/02/2021,36772,24989,0,0,0,44394
3,01/03/2021,32760,22241,0,0,0,40610
4,01/04/2021,0,33989,23429,0,0,50449
5,01/05/2021,0,0,0,36068,25461,49314
6,31/05/2021,0,0,0,33233,24018,47816
7,30/06/2021,0,0,30461,22779,0,37340
8,31/07/2021,32269,23738,0,0,0,44815
9,31/08/2021,0,0,37129,26828,0,52685
10,30/09/2021,0,0,35372,25857,0,46259
11,31/10/2021,0,0,0,30612,21991,49535
12,30/11/2021,0,32300,23964,0,0,44519
13,31/12/2021,28853,21607,0,0,0,42533
14,31/01/2022,24877,18033,0,0,0,36318
15,28/02/2022,20839,16340,0,0,0,36256
16,31/03/2022,0,20761,16724,0,0,36366
17,19/04/2022,0,0,0,9808,8474,25383
18,31/05/2022,0,0,0,30145,24665,57017
19,30/06/2022,0,0,25012,20004,0,39627
20,31/07/2022,26683,21282,0,0,0,50475
21,31/08/2022,0,0,29959,23892,0,52512
22,30/09/2022,0,0,29700,22748,0,42040
23,31/10/2022,0,0,0,23409,19428,47404
24,30/11/2022,0,22741,18654,0,0,41692
25,31/12/2022,19056,15024,0,0,0,41783
26,31/01/2023,19854,16474,0,0,0,40946
27,28/02/2023,17370,14142,0,0,0,32092
28,31/03/2023,0,20346,16878,0,0,37208
29,30/04/2023,0,0,0,17294,14822,41433
30,31/05/2023,0,0,0,33223,25931,45671
31,30/06/2023,0,0,36431,26486,0,44903
32,31/07/2023,33959,25215,0,0,0,54519
33,31/08/2023,0,0,35212,25947,0,52793
34,30/09/2023,0,0,35715,24140,0,45347
35,31/10/2023,0,0,0,39203,28208,48596

In [55]:
tabla['Mes'] = pd.to_datetime(activa['Fecha lectura'], format="%d/%m/%Y").dt.strftime('%B').str.upper()
tabla

,Fecha lectura,Consumo P1,Consumo P2,Consumo P3,Consumo P4,Consumo P5,Consumo P6,Mes
0,01/12/2020,0,1122,771,0,0,1455,DECEMBER
1,01/01/2021,33773,23115,0,0,0,50226,JANUARY
2,01/02/2021,36772,24989,0,0,0,44394,FEBRUARY
3,01/03/2021,32760,22241,0,0,0,40610,MARCH
4,01/04/2021,0,33989,23429,0,0,50449,APRIL
5,01/05/2021,0,0,0,36068,25461,49314,MAY
6,31/05/2021,0,0,0,33233,24018,47816,MAY
7,30/06/2021,0,0,30461,22779,0,37340,JUNE
8,31/07/2021,32269,23738,0,0,0,44815,JULY
9,31/08/2021,0,0,37129,26828,0,52685,AUGUST
10,30/09/2021,0,0,35372,25857,0,46259,SEPTEMBER
11,31/10/2021,0,0,0,30612,21991,49535,OCTOBER
12,30/11/2021,0,32300,23964,0,0,44519,NOVEMBER
13,31/12/2021,28853,21607,0,0,0,42533,DECEMBER
14,31/01/2022,24877,18033,0,0,0,36318,JANUARY
15,28/02/2022,20839,16340,0,0,0,36256,FEBRUARY
16,31/03/2022,0,20761,16724,0,0,36366,MARCH
17,19/04/2022,0,0,0,9808,8474,25383,APRIL
18,31/05/2022,0,0,0,30145,24665,57017,MAY
19,30/06/2022,0,0,25012,20004,0,39627,JUNE
20,31/07/2022,26683,21282,0,0,0,50475,JULY
21,31/08/2022,0,0,29959,23892,0,52512,AUGUST
22,30/09/2022,0,0,29700,22748,0,42040,SEPTEMBER
23,31/10/2022,0,0,0,23409,19428,47404,OCTOBER
24,30/11/2022,0,22741,18654,0,0,41692,NOVEMBER
25,31/12/2022,19056,15024,0,0,0,41783,DECEMBER
26,31/01/2023,19854,16474,0,0,0,40946,JANUARY
27,28/02/2023,17370,14142,0,0,0,32092,FEBRUARY
28,31/03/2023,0,20346,16878,0,0,37208,MARCH
29,30/04/2023,0,0,0,17294,14822,41433,APRIL
30,31/05/2023,0,0,0,33223,25931,45671,MAY
31,30/06/2023,0,0,36431,26486,0,44903,JUNE
32,31/07/2023,33959,25215,0,0,0,54519,JULY
33,31/08/2023,0,0,35212,25947,0,52793,AUGUST
34,30/09/2023,0,0,35715,24140,0,45347,SEPTEMBER
35,31/10/2023,0,0,0,39203,28208,48596,OCTOBER

In [ ]:
tabla.groupby('Mes')